<a href="https://colab.research.google.com/github/yunju05/Practice/blob/main/DLlesson4.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## 1. Number

### Integer

In [2]:
# An example of an integer
age = 45
print("Age:", age)

Age: 45

### Floating number

In [3]:
# An example of a float
average_score = 82.5
print("Average Score:", average_score)

Average Score: 82.5

## 2. String (str):

In [15]:
# An example of a string
name = input()
# A pop-up box will appear and wait for your input. Type a name.
print(f"Hello,{name}")
# % operator: The % operator is used for string formatting. It links the string "Hello, %s!" with the variable name to replace the %s placeholder.

j
Hello,j

In [14]:
# An example of a string
name = input()  # A pop-up box will appear and wait for your input. Type a name.
print(f"Hello, {name}!")

j
Hello, j !

In [18]:
mytext = """
Long long time ago, there lived a lion called Lezzi.
One day, he met his friend, Fred.
Fred is a gazelle ...
"""
print(mytext)

Long long time ago, there lived a lion called Lezzi.
One day, he met his friend, Fred
Fred is a gazelle ...

In [17]:
mytext = """
조윤주
"""
print(mytext)

조윤주

## 3. List

In [19]:
# An example of a list
favorite_books = ["To Kill a Mockingbird", "1984", "The Great Gatsby"]
print("Favorite Books:", favorite_books)

Favorite Books: ['To Kill a Mockingbird', '1984', 'The Great Gatsby']

In [21]:
# An example of a list
favorite_foods = ["Mara soup", "Green tea chocolate ice cream", "Jelly"]
print("Favorite Foods:", favorite_foods)

Favorite Foods: ['Mara soup', 'Green tea chocolate ice cream', 'Jelly']

## 4. Dictionary

In [22]:
# An example of a dictionary
student_grades = {"Alice": 90, "Bob": 85, "Charlie": 95}
print("Student Grades:", student_grades)

Student Grades: {'Alice': 90, 'Bob': 85, 'Charlie': 95}

In [23]:
# Return Alice's grade
student_grades['Alice']

90

In [24]:
# An example of a dictionary
foods_grades = {"Mint chocolate": -99, "Tangsooyook": 89 ,"Rice ball": 54}
print("Foods Grades:", foods_grades)

Foods Grades: {'Mint chocolate': -99, 'Tangsooyook': 89, 'Rice ball': 54}

In [25]:
# Return Grade of Mint chocolate
foods_grades['Mint chocolate']

-99

## 5. Tuple

In [26]:
# An example of a tuple
months_of_the_year = ("January", "February", "March", "April")
print("Months of the Year:", months_of_the_year)

Months of the Year: ('January', 'February', 'March', 'April')